@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


html {
  font-size: 62.5%;
  color: var(--cor-branca);
  font-weight: 300;
  scroll-behavior: smooth;
 
}

body{
  font-family: "Jost", sans-serif;
  font-size: var(--fonte-normal);
  overflow-x: hidden;

}


.row{
  display: flex;
}


.justify-content-between{
  justify-content: space-between;
}

/* checar se esta sendo usado */
.alinhar-itens-no-centro{
  align-items: center;
}